---
BasedOnStyle: LLVM
---
Language: Cpp
Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterEnum: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakTemplateDeclarations: Yes
IncludeCategories:
    - Regex: '^"'
      Priority: 2
    - Regex: '^<'
      Priority: 3
IndentCaseLabels: true
KeepEmptyLines:
    AtStartOfBlock: false
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2
UseTab: ForContinuationAndIndentation
---
